@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: "Urbanist", sans-serif;
}

body {
	background-color:#ffffff;
	text-align: center;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;         
}

body::-webkit-scrollbar-thumb {
  	background-color: #8C8C8C; 
  	border-radius: 0.25rem;     
  	border: none;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	margin: 1rem;
}

p {
	font-size: 1rem;
	color: #333333;
	margin: 1rem 0rem;
	width: 80%;
}

img {
	border-radius: 0.25rem;
	margin: 1rem;
	user-select: none;
	cursor: pointer;
}

input[type=file] {
	display: none;
}

label[for=loader] {
	background: url('https://img.icons8.com/ios/50/image--v1.png') 50% 50% no-repeat;
	color: #333333;
	cursor: pointer;
	padding: 2rem;
	margin: 0;
}

label[for=loader]:hover {
	background: url('https://img.icons8.com/ios-filled/50/image.png') 50% 50% no-repeat;
}

input[type=checkbox] {
	position: relative;
	display: flex;
	cursor: pointer;
	margin: 1rem 0rem;
}

input[type=range] {
	position: relative;
	display: flex;
	-webkit-appearance: none;
	width: min(50%, 20rem);
	height: 0.25rem;
	border-radius: 0.25rem;
	background: #6f6f6f;
	margin: 1rem;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.8rem;
	width: 1rem;
	border-radius: 0.25rem;
	background:#013668;
	cursor: pointer;
}

span {
  	margin: 1rem;
}

textarea {
	width: min(100%, 20rem);
	height: 3rem;
	font-size: 0.9rem;
	letter-spacing: .05rem;
	font-weight: 300;
	border: none;
	padding: 1rem;
	background-color: #e9e9e9;
	border-radius: .25rem;
	margin: 1rem;
	border: none;
	transition: 0.1s ease-in-out;
	outline: none;
	user-select: none;
}

textarea:hover {
	height: 4rem;
}

textarea:not(:hover) {
	height: 3rem;
}

select {
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	color: #013668;
	border: none;
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	user-select: none;
	cursor: pointer;
	outline: none;
}

button {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: inherit;
	max-height: 3rem;
	font-size: 1rem;
	font-weight: 400;
	padding: 1rem 1.25rem;
	margin: 0.5rem 0rem;
	border-radius: 0.2rem;
	letter-spacing: 0.1rem;
  	overflow: hidden;
	user-select: none;
	border: none;
	cursor: pointer;
}

input[type=text] {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	font-weight: 200;
	background-color: inherit;
	border: none;
	padding: 0rem 1rem;
	transition: 0.1s ease-in-out;
	background: transparent;
	border-bottom: 2px solid #013668;
	width: min(100%, 14rem);
	letter-spacing: .05rem;
	height: 3rem;
	margin: 0rem 0rem 1rem 0rem;
	outline: none;
	user-select: none;
}

::placeholder  {
	text-align: left;
	color: black;
}

.main {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	color: #181C1F;
	font-size: 18px;
	width: 100%;
	z-index: 1;
}

.navbar {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	user-select: none;
	height: 7rem;
	width: 100%;
}

.nav_item {
	position: relative;
	display: flex;
  	align-items: center;
 	text-align: center;
	height: inherit;
	text-decoration: none;
	color: #181C1F;
	letter-spacing: 0.1rem;
	font-size: 1.8rem;
	font-weight: 200;
	transition: 0.1s ease-in-out;
  	cursor: pointer;
}

.items {
	display: flex;
	position: relative;
	align-items: center;
	align-self: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	cursor: pointer;
	width: 90%;
	padding: 0.5rem;
	margin: 0rem;
}

.half {
	width: min(100%, 70rem);
}

.small {
	width: min(100%, 48rem);
}

.little {
	width: min(100%, 24rem);
}

.smallest {
	width: min(100%, 12rem);
}

.item {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
	flex-wrap: wrap;
	flex-direction: column;
	border: none;
	user-select: none;
	cursor: pointer;
	width: 40%;
}

.label {
	font-weight: 300;
	width: min(100%, 8rem);
	height: min(100%, 4rem);
	font-size: 0.9rem;
	letter-spacing: 0rem;
	color:#ffffff;
	background-color: #013668;
	border-radius: 1rem;
	padding: 1rem 0.25rem;
	margin: 0.5rem 0.5rem;
}

.active, .label:hover {
	color: #181C1F;
	letter-spacing: 0.1rem;
	text-shadow: 0px 0px 1px #181C1F;
	box-shadow: 0px 0px 3px 0px #6f6f6f;
	background-color: inherit;
}

.card {
	font-weight: 400;
	width: min(100%, 12rem);
	height: 8rem;
	font-size: 1.2rem;
	color: #040D21;
	border: none;
	transition: 0.1s ease-in-out;
	box-shadow: 0px 0px 2px 0px #181C1F;
	border-radius: 0.5rem;
	margin: 1rem;
}

.panel {
	font-weight: 400;
	width: min(100%, 20rem);
	height: 10rem;
	color: #040D21;
	border: none;
	box-shadow: 0px 0px 1px 0px #181C1F;
	border-radius: 0.1rem;
	padding: 1rem;
	margin-top: 1rem;
}

.cardance {
	width: min(100%, 16rem);
	height: 20rem;
	border-radius: 0rem;
}

.case {
	width: 50%;
	opacity: .5;
	transition: 0.1s ease-in-out;
}

.case:hover {
	opacity: 1;
}

.panel:hover {
	box-shadow: 0px 0px 2px 1px #013668;
	transition: 0.1s ease-in-out;
}

.map_picker {
	width: 1.5rem;
}

.photo {
	display: flex;
	position: relative;
	width: min(100%, 16rem);
	box-shadow: 0px 0px 3px 1px #6f6f6f;
}

.gallery {
	width: min(100%, 24rem);
}

.icon {
	width: 2rem;
	z-index: 1;
}

.loader {
	margin: 5rem 0rem;
}

.close {
	position: relative;
	top: 0;
	margin-left: 50%;
}

.light, .light:hover {
	color: #333333;
	background-color: inherit;
	border: 1px solid #013668;
}

.pale {
	letter-spacing: 0.1rem;
	opacity: .7;
	user-select: none;
}

.text {
	text-align: left;
	width: 50%;
}

.article {
	text-indent: 2rem;
}

.form-title {
	font-size: 1.25rem;
	opacity: .7;
	letter-spacing: 0.2rem;
}

.exit {
	position: fixed;
	bottom: 0;
	right: 0;
}

.left {
	position: fixed;
	bottom: 0;
	left: 0;
}

@media (min-width: 700px) and (max-width: 1200px) {
	textarea {
		width: 25%;
	}

	.nav_item {
		font-size: 1.5rem;
	}
	
	.items {
		width: 65%;
	}

	.sidebar {
		margin-top: 12rem;
	}
}

@media (min-width: 390px) and (max-width: 700px) {

	body {
		width: 100%;
	}

	textarea {
		width: 40%;
	}

	.navbar {
		padding-bottom: 7rem;
	}
	
	.nav_item {
		font-size: 1.5rem;
	}

	.items {
		width: 60%;
	}

	.sidebar {
		margin-top: 12rem;
	}
}

@media (min-width: 360px) and (max-width: 390px) {
	body {
		max-width: 390px;
	}

	textarea {
		width: 40%;
	}
	
	.navbar {
		width: 100%;
		padding-bottom: 6rem;
	}

	.nav_item {
		font-size: 1.2rem;
	}
}

@media (min-width: 150px) and (max-width: 360px) {

	body {
		max-width: 360px;
	}

	textarea {
		width: 40%;
	}

	.navbar {
		padding-bottom: 7rem;
	}

	.nav_item {
		font-size: 1.25rem;
	}
}